@import "src/styles/variables.scss";

.tasks__container {
  @include container;

  margin-top: 4rem;

  @media screen and (max-width: 768px) {
    margin-top: 3rem;
  }
}

.tasks__list {
  margin-top: 2rem;

  color: $gray-300;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  .no__tasks {
    border-radius: 8px 8px 0 0;
    border-top: 1px solid $gray-400;

    padding-top: 4rem;

    display: flex;
    align-items: center;
    flex-direction: column;

    text-align: center;
    line-height: 1.4rem;

    strong {
      margin-top: 1rem;
    }
  }
}
